.footer__join {
  @media screen and (max-width: $pdesktop) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    flex-grow: 2;
    margin-top: 60px;
  }

  @media screen and (min-width: $tablet) {
    padding-top: 5px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 12px;
    margin-left: 93px;
  }
}

.join-form {
  @media screen and (max-width: $pdesktop) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.join-form__email {
  width: 358px;
  height: 50px;
  color: var(--header-white-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding: 15px 16px;

  &::placeholder {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  //На 320px нижняя форма будет норм отображаться
  @media screen and (max-width: 388px) {
    width: 100%;
  }

  @media screen and (max-width: $pdesktop) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 12px;
  }
}

.join-form__submit {
  display: inline-flex;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.825;
  letter-spacing: 0.06em;
  color: var(--header-white-color);
  background-color: var(--button-bg-active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border: none;
  border-radius: 4px;

  padding: 0px;
}

.join-form__icon {
  fill: var(--header-white-color);

  margin-left: 10px;
}
