.footer__header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1429;
  letter-spacing: 0.03em;
  color: var(--header-white-color);

  margin-bottom: 20px;

  @media screen and (max-width: $pdesktop) {
    text-align: center;
  }
}

.footer__social {
  @media screen and (max-width: $ptablet) {
    margin-bottom: 60px;
  }

  @media screen and (max-width: $pdesktop) {
    flex-grow: 1;
  }

  @media screen and (min-width: $tablet) {
    padding-top: 5px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 12px;
  }
}
