.features__list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.features__thumb {
  background-color: var(--button-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.features__elem {
  @media screen and (max-width: $ptablet) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: $tablet) {
    flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }
  @media screen and (min-width: $desktop) {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.features__fname {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1429;
  margin-bottom: 10px;

  @media screen and (max-width: $ptablet) {
    text-align: center;
  }
}

.features__descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7412;
  letter-spacing: 0.03em;
  color: var(--text-primary-color);
}
