.features__list {
  display: flex;
  justify-content: space-between;
}

.features__thumb {
  background-color: var(--button-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 270px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.features__elem {
  max-width: 270px;
}

.features__fname {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1429;
  margin-bottom: 10px;
}

.features__descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7412;
  letter-spacing: 0.03em;
  color: var(--text-primary-color);
}
