.about {
  @media screen and (max-width: $pdesktop) {
    display: none;
  }
  padding-top: 0px;
}

.about__list {
  display: flex;
  justify-content: space-between;
}

.about__elem {
  position: relative;
}

.about__title {
  position: absolute;
  bottom: 0px;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 370px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  background-color: rgba(47, 48, 58, 0.8);
  color: var(--header-white-color);
}
